* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 100dvw;
  scroll-behavior: smooth;
}

html, body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  overflow-x: clip;
  list-style: none;
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.5;
  height: 100dvh;
  background-color: #000;
}

.header {
  background-color: #FFF;
}
.header .navigation {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #FFF;
  /*<===== hamburger styling =====>*/
}
.header .navigation .site-logo > img {
  width: 8rem;
  height: 4rem;
}
.header .navigation .navitems {
  display: none;
}
.header .navigation .navitems.active {
  display: block;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  background-color: #FFF;
  padding: 1rem 0;
  width: 100dvw;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.header .navigation .navitems .navlist > li {
  display: block;
  margin: 1.5rem;
  padding: 1rem;
  border-bottom: 0.0125rem solid #000;
  cursor: pointer;
  font-size: 1.5rem;
}
.header .navigation .navitems .navlist > li a {
  text-decoration: none;
  color: inherit;
}
.header .navigation .navitems .navlist > li:hover {
  opacity: 0.7;
}
.header .navigation .navitems .nav-cta {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: #B5D75C;
  margin: 2rem auto;
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
}
.header .navigation .hamburger {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 15px;
}
.header .navigation .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: #0053ce;
}
.header .navigation .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.header .navigation .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header .navigation .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@media screen and (min-width: 769px) {
  .header .navigation {
    padding: 3rem 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  .header .navigation .site-logo > img {
    width: 15rem;
    height: 8rem;
  }
  .header .navigation .hamburger {
    display: none;
  }
  .header .navigation .navitems {
    display: flex;
    justify-content: space-between;
  }
  .header .navigation .navitems .navlist {
    display: flex;
    justify-content: space-between;
  }
  .header .navigation .navitems .navlist li {
    font-size: 2rem;
    border-bottom: none;
    white-space: nowrap;
  }
  .header .navigation .navitems .nav-cta {
    padding: 1rem;
    font-size: 1.5rem;
    width: 15rem;
  }
  .header .navigation .navitems .nav-cta:hover {
    box-shadow: 0 0 2rem rgba(180, 215, 92, 0.8549019608);
  }
}

.hero {
  padding: 2rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-color: #FFF;
}
.hero h1 {
  margin-top: 10rem;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}
.hero .hero-img {
  width: 25rem;
  height: 20rem;
  margin: 1rem auto;
}
.hero .hero-img img {
  width: inherit;
  height: inherit;
  border-radius: 2rem;
}
.hero .hero-info {
  margin: 2rem 0;
}
.hero .hero-info p {
  font-size: 2rem;
  font-weight: 500;
}
.hero .hero-info button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: #B5D75C;
  border: none;
  cursor: pointer;
  color: #FFF;
  font-weight: 600;
  margin: 3rem 0;
}
.hero .hero-info button .hero-cta {
  display: block;
  box-sizing: border-box;
  border: 2px solid #B5D75C;
  border-radius: 1rem;
  padding: 0.5em;
  background: #FFF;
  color: #B5D75C;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}
.hero .hero-info button:hover .hero-cta {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}
.hero .hero-info button:active .hero-cta {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
@media screen and (min-width: 769px) {
  .hero {
    padding-inline: 5rem;
    margin-top: 10rem;
  }
  .hero h1 {
    font-size: 9rem;
    margin-top: 5rem;
    text-align: center;
  }
  .hero .hero-img {
    width: 50rem;
    height: 30rem;
  }
  .hero .hero-info {
    padding-inline: 15rem;
  }
  .hero .hero-info p {
    font-size: 2.5rem;
  }
  .hero .hero-info button .hero-cta {
    padding: 1em;
  }
}

@media screen and (min-width: 769px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
}

.whoWeAre {
  margin: 3rem 0;
  padding: 0.5rem 2rem;
  color: #e8e8e8;
}
.whoWeAre .whoWeAre-info {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4039215686);
}
.whoWeAre .whoWeAre-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}
.whoWeAre .whoWeAre-text {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
}
.whoWeAre .whoWeAre-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 1rem;
  border: unset;
  color: #000;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}
.whoWeAre .whoWeAre-cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: inherit;
  background-color: #000;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
.whoWeAre .whoWeAre-cta:hover {
  color: #e8e8e8;
}
.whoWeAre .whoWeAre-cta:hover::before {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .whoWeAre {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
  }
  .whoWeAre .whoWeAre-info {
    font-size: 3rem;
  }
  .whoWeAre .whoWeAre-header {
    font-size: 2.5rem;
  }
  .whoWeAre .whoWeAre-text {
    font-size: 2rem;
  }
  .whoWeAre .whoWeAre-cta {
    align-self: flex-end;
    font-size: 2rem;
    padding: 1rem;
  }
}

.statements {
  background: #0053ce;
  margin: 5rem;
  border-radius: 3rem;
  padding: 2rem;
  color: #FFF;
  box-shadow: 0 0 4rem 2rem rgba(13, 109, 253, 0.3568627451);
}
.statements .statements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}
.statements .statements-container .statement-img > img {
  width: 15rem;
  height: 15rem;
  border-radius: 3rem;
}
.statements .statements-container .statement-body {
  font-size: 1.5rem;
  align-self: left;
}
.statements .statements-container .statement-body p {
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 420px) {
  .statements .statements-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 769px) {
  .statements {
    margin: 10rem 0;
    padding: 5rem;
    display: flex;
    justify-content: center;
  }
  .statements .statements-container {
    flex-direction: column;
    gap: 5rem;
    text-align: center;
  }
  .statements .statements-container .statement-img > img {
    width: 25rem;
    height: 25rem;
  }
  .statements .statements-container .statement-body {
    font-size: 2rem;
  }
  .statements .statements-container .statement-body p {
    font-size: 3rem;
  }
}

.weCanHelp {
  color: #e8e8e8;
  padding: 2rem;
}
.weCanHelp h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
}
.weCanHelp p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.weCanHelp button {
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2em;
  background: #FFF;
  transition: all 0.1s linear;
}
.weCanHelp button:active {
  transform: scale(0.95);
}
.weCanHelp button span {
  color: #000;
}
.weCanHelp button .border {
  position: absolute;
  border: 0.2rem solid #FFF;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 2em;
  border-radius: 2em;
  transform: translate(-50%, -50%);
}
.weCanHelp button:hover .border {
  display: block;
  width: 15rem;
  height: 5rem;
}
@media screen and (min-width: 769px) {
  .weCanHelp h2 {
    font-size: 4rem;
  }
  .weCanHelp p {
    font-size: 2rem;
  }
  .weCanHelp button {
    margin: 3rem auto;
  }
}

.whatWeOffer {
  margin: 5rem;
  background-color: #FFF;
  padding: 2rem;
  border-radius: 2rem;
  color: rgba(0, 0, 0, 0.6156862745);
}
.whatWeOffer p {
  font-size: 2rem;
  font-weight: 600;
}
.whatWeOffer .offer-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin: 5rem 0;
}
.whatWeOffer .offer-items .offer-img > img {
  width: 15rem;
  height: 15rem;
  border-radius: 2em;
}
.whatWeOffer .offer-items p {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}
.whatWeOffer .offer-items span {
  font-size: 1.5rem;
  font-weight: 500;
}
.whatWeOffer .learn-more {
  border: none;
  background: #B5D75C;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  margin-inline: auto;
  margin-top: 5rem;
}
.whatWeOffer .learn-more a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.whatWeOffer .learn-more:hover {
  box-shadow: 0 0 2rem rgba(180, 215, 92, 0.8549019608);
}
@media screen and (min-width: 650px) {
  .whatWeOffer p {
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .whatWeOffer .offer-items {
    flex-direction: row;
    margin: 5rem auto;
    gap: 4rem;
  }
  .whatWeOffer .offer-items .offer-img {
    max-width: 50%;
  }
  .whatWeOffer .offer-items .offer-img img {
    min-width: 25rem;
    height: 15rem;
  }
  .whatWeOffer .offer-items .offer-body {
    max-width: 50%;
  }
  .whatWeOffer .offer-items .offer-body p {
    font-size: 2.5rem;
  }
  .whatWeOffer .offer-items .offer-body span {
    font-size: 2rem;
  }
  .whatWeOffer .right {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 769px) {
  .whatWeOffer {
    padding: 4rem 10rem;
  }
  .whatWeOffer p {
    font-size: 3rem;
    margin: 2rem 0;
  }
  .whatWeOffer .offer-items {
    flex-direction: row;
    margin: 5rem auto;
    gap: 4rem;
  }
  .whatWeOffer .offer-items .offer-img > img {
    min-width: 35rem;
    height: 25rem;
  }
  .whatWeOffer .offer-items p {
    font-size: 3rem;
  }
  .whatWeOffer .offer-items span {
    font-size: 2rem;
  }
  .whatWeOffer .learn-more {
    padding: 1.5rem;
  }
  .whatWeOffer .learn-more a {
    font-size: 1.5rem;
  }
  .whatWeOffer .right {
    flex-direction: row-reverse;
  }
}

.accordion {
  margin: 5rem;
  color: #e8e8e8;
}
.accordion h3 {
  font-size: 3rem;
  text-align: center;
}
.accordion .faq {
  border-bottom: 1px solid #FFF;
}
.accordion .faq .faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  position: relative;
  list-style: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
}
.accordion .faq .faq-answer {
  font-size: 1.2rem;
  padding: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.accordion .faq .faq-answer span > img {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
}
@media screen and (min-width: 420px) {
  .accordion .faq .faq-answer {
    flex-direction: row;
  }
}
@media screen and (min-width: 769px) {
  .accordion {
    margin: 10rem;
  }
  .accordion h3 {
    font-size: 4rem;
  }
  .accordion .faq {
    padding: 2rem 0;
  }
  .accordion .faq .faq-question {
    font-size: 2rem;
  }
  .accordion .faq .faq-answer {
    font-size: 1.5rem;
  }
  .accordion .faq .faq-answer span > img {
    width: 15rem;
    height: 15rem;
  }
}

.footer {
  margin-top: 10rem;
  padding: 2rem;
  background: #0053ce;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  box-shadow: 0rem 0rem 3rem 3rem rgba(0, 82, 206, 0.4862745098);
  color: #e8e8e8;
}
.footer .logo {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.footer .logo img {
  width: 7rem;
  height: 5rem;
}
.footer aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #FFF;
  padding: 2rem 0;
  gap: 2rem;
}
.footer aside div h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.footer aside div p {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
}
.footer aside div p > span > a {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
.footer aside div p > span > a:hover {
  opacity: 0.7;
}
.footer section .footer-item {
  margin: 1rem 0;
}
.footer section .footer-item h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.footer section .footer-item .footer-link > li > a {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
.footer section .footer-item .footer-link > li > a:hover {
  opacity: 0.7;
}
.footer section .footer-item p {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
}
.footer .legal {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3rem;
}
.footer .legal span > a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.footer .go-up {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  right: 1%;
  border-radius: 50%;
  background-color: #FFF;
  color: #000;
  cursor: pointer;
  border: none;
  outline: none;
}
@media screen and (min-width: 769px) {
  .footer {
    padding-inline: 5rem;
  }
  .footer .logo {
    margin: 2rem 0;
  }
  .footer .logo img {
    width: 15rem;
    height: 10rem;
  }
  .footer aside div h3 {
    font-size: 2.5rem;
  }
  .footer aside div p,
  .footer aside div p > span > a {
    font-size: 2rem;
  }
  .footer section {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .footer section .footer-item h3 {
    font-size: 2.5rem;
  }
  .footer section .footer-item .footer-link > li > a,
  .footer section .footer-item p {
    font-size: 2rem;
  }
  .footer .legal {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
